.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  position: relative;
  background: linear-gradient(
      to bottom,
      hsl(189, 19%, 85%) 50%,
      hsl(180deg, 25%, 92%) 50%
    )
    no-repeat;
}

.maxWidthWrapper {
}

.header {
  width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  height: 100%;
  min-height: 500px;
  top: 128px;
  left: 65%;
}

.controlColumn {
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .header {
    width: 100%;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
  .characterWrapper {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .controlColumn {
    position: absolute;
    display: flex;
    bottom: 140px;
    overflow: auto;
    width: 100%;
    gap: 20px;
    margin-left: -32px;
  }
}
